body {
  margin: 0;
  font-family:'Open Sans', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

 .navbar .navbar-custom {
  background-color: #f8f0ff;
  
}
.nav-link{
  box-sizing: border-box;
  font-weight: 700;
  font-size: 18px;
  margin-right: 50px;
  color: #4D135C;
}
.nav-link:hover{
  color:#4D135C;
}
.navbar-toggler-icon {
  /* Replace 'your_color_here' with your desired color value (e.g., red, #00ff00, rgba(255, 0, 0, 0.5)) */
  /* color: #4D135C; */
}

/* Optional: To change the background color of the toggle button, use the following */
.navbar-toggler {
  /* Replace 'your_color_here' with your desired background color value */
  /* background-color: #4D135C; */
  color: #4D135C;

  /* Optionally add padding or other styling here */
}
#signin-button{
  background-color: #c214fe;
  border:none;
  width: 7rem;
  font-weight: bold;
  font-size: 18px;
  color: white;
}
#home-page{
  margin: 0;
  position: relative;
  padding-bottom: 10rem;
  min-height:79vh;
  padding-bottom: 5rem;
  background-image: url(../public/background.jpg);
  background-size: cover;

  /* opacity: 0.4; */
  background-repeat:   no-repeat;
  background-position: center center;
  text-align: left;
  padding-bottom: 5rem;
}

#header-text{
  font-weight:800;
  font-size: 38px;
}
p{
  /* font-weight:700; */
  font-size: 15px;
  color:#4D135C
}
a{
  color:#c214fe;
  text-decoration: none;
  font-size: 18px;
  font-weight:600;
}
a:hover{
  font-size: 20px;
}
svg{
  fill: #c214fe;
  margin:0 6px;
}
#left-div{
  padding-top: 10%;
}
#get-started{
  margin-top:2rem;
  background-color: #c214fe;
  color: #ffffff;
  padding: 3px 6px;
  display: block;
  width:220px;
}
#get-started:hover{
  width:240px
}
#home-page span{
  color: #c214fe;
}
#featured-on{
  margin-top: 20%;
  color:#3c4043ff
}
#animation1{

  transform: rotate(-10deg);
} 


#animation2{

  /* transform: rotate(10deg); */
}

#animation3{
  transform: rotate(10deg);
} 

@media(min-width :780px){
 
}
#footer{
  position:absolute;
  right:0;
  left:0;
  bottom:1;
  background-color: #f8f0ff;
  padding-top: 1rem ;

}
#footer >p{
  font-weight: bold;
}
#footer svg{
  width: 20px;
}
#footer svg:hover{
  width:30px;
}